@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=Poppins&family=Source+Serif+Pro&family=Ubuntu&display=swap");

//fonts
$karla: "Karla", sans-serif;
$ubuntu: "Ubuntu", sans-serif;
$source-serif-pro: "Source Serif Pro", serif;
//font-size
$title: 3.5vmin;
$paragraph: 2.3vmin;

//colors
$grey: rgba(208, 200, 200, 0.724);
