@import "utilities/variables";

div.form.visible {
  opacity: 1;
  pointer-events: all;
}

.form-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  height: 100vh;
  width: 100vw;
  color: black;
  background-color: rgba(245, 245, 245, 0.877);
  z-index: 1;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  .form-container {
    width: 50vw;
    height: 96vh;
    background-color: white;
    box-shadow: 3px 0px 25px 0px rgba(0, 0, 0, 0.21);

    form.login-form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .exit-button {
        align-self: flex-end;
        overflow: hidden;
        padding: 10px;
        cursor: pointer;
      }
      .form-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        p a {
          cursor: pointer;
        }

        p a:hover {
          color: rgb(11, 128, 11);
        }

        h1 {
          font-family: $play-fair;
        }
        .btns-container {
          gap: 10px;

          .login-button {
            padding: 12px 30px;
            width: 100%;
            border-radius: 20px;
            border: solid 1px grey;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            font-weight: bold;
            background-color: white;
            cursor: pointer;

            svg {
              height: 20px;
              width: 20px;
            }
            .facebook {
              fill: rgb(59, 89, 152);
            }
            .google {
              fill: #db4437;
            }
          }
        }
      }
    }
  }
}
div.email-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

div.text-field,
.password {
  display: flex;
  gap: 15px;
  align-items: center;
}

input {
  border: 2px solid #ddd;
  border-radius: 9px;
  height: 25px;
}

// label {
//   font-weight: bold;
//   font-family: "Varela Round", sans-serif;
// }

.email-form button {
  display: block;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  width: 12rem;
  background-color: rgba(117, 111, 111, 0.247);
  padding: 12px 0;
  font-family: "Varela Round", sans-serif;
  font-size: medium;
  font-weight: bolder;
  align-self: center;
  margin-right: 1rem;
  margin-top: 5px;
}
