@import "utilities/variables";

section#all-posts {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  width: 100vw;
  z-index: -1;
  padding: 3vw 0 2vw 0;
  gap: max(1.5vw, 14px);
  justify-content: center;
}

div.recent-post-all {
  display: flex;
  padding: 0 10vw;
  gap: 3.5%;
  height: max(15vw, 100px);
}
div.recent-post-all div.recent-image-all {
  overflow: hidden;
}
div.recent-post-all div.recent-image-all img {
  width: max(20vw, 120px);
  height: max(15vw, 100px);
}

.all-posts-author figcaption a {
  font-size: max(0.9vw, 8px);
}

.all-posts-author {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: small;
}

.all-posts-author .author-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.recent-content-all {
  display: flex;
  flex-direction: column;
  max-width: 38vw;
  justify-content: space-between;
}

.top-container h2 {
  flex: 1 1 1;
  font-size: max(1.5vw, 16px);
}

article.recent-content-all div.summary-container {
  flex: 1 1 1;
  display: flex;
  justify-content: flex-end;
}

article.recent-content-all p .recent-info-all {
  flex: 1 1 1;
  display: flex;
  justify-content: flex-end;
}

div.top-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p.recent-summary-all {
  font-size: max(1.2vw, 13px);
}

p.recent-info-all time {
  font-size: max(0.81vw, 9px);
  color: rgba(128, 128, 128, 0.703);
}

.page-index {
  width: 100vw;
  justify-content: center;
  gap: 5px;
  padding-top: 25px;
  display: flex;
  font-family: $karla;
  font-size: 15px;
  font-weight: 500;
}

.gg-arrow-right-r {
  background-color: rgba(128, 128, 128, 0.185);
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 4px;
}
.gg-arrow-right-r:hover {
  transform: translateY(-1px);
}
.gg-arrow-right-r::after,
.gg-arrow-right-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 4px;
}
.gg-arrow-right-r::after {
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 6px;
}
.gg-arrow-right-r::before {
  width: 10px;
  height: 2px;
  bottom: 8px;
  background: currentColor;
}

.gg-arrow-left-r {
  background-color: rgba(128, 128, 128, 0.185);
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 4px;
}
.gg-arrow-left-r:hover {
  transform: translateY(-1px);
}
.gg-arrow-left-r::after,
.gg-arrow-left-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 4px;
}
.gg-arrow-left-r::after {
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 6px;
}
.gg-arrow-left-r::before {
  width: 10px;
  height: 2px;
  bottom: 8px;
  background: currentColor;
}

@media (min-width: 1040px) and (max-width: 1450px) {
  article.recent-content-all {
    max-width: 50vw;
  }
}

@media (max-width: 1040px) {
  div.recent-post-all {
    padding: 0 2vw;
  }
  p.recent-summary-all {
    display: none;
  }
  article.recent-content-all {
    width: 65%;
  }

  article.recent-content-all {
    justify-content: flex-start;
    gap: 1vw;
    max-width: 50vw;
  }
  div.top-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .top-container h2 {
    flex: 1 1 1;
    font-size: 12px;
  }
  .all-posts-author .author-image {
    width: 20px;
    height: 20px;
  }
}
