form.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
}

form.post button {
  display: block;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  width: 12rem;
  background-color: rgba(117, 111, 111, 0.247);
  padding: 12px 0;
  font-family: "Varela Round", sans-serif;
  font-size: medium;
  font-weight: bolder;

  margin-right: 1rem;
  margin-top: 5px;
}

form.post input {
  height: 8vh;
}
