@import "utilities/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $karla;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

ul {
  list-style: none;
}
