@import "utilities/variables";

section#recent-posts {
  padding: 0 5.5vw;
}

div.recent-post-container {
  display: flex;
  gap: 2.1vw;
  flex-wrap: wrap;
}

div.recent-post-container div.recent-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: max(25vw, 180px);
}

div.recent-post div.recent-image {
  padding-bottom: 0.8vh;
}

div.recent-post div.recent-image img {
  width: max(25vw, 180px);
  height: max(18vw, 125px);
  border-radius: 15px;
}

div.recent-post div.recent-image a {
  display: block;
  position: relative;
}

div.recent-post article.recent-content {
  display: flex;
  flex-direction: column;
  padding: 0.8vh 0;
  gap: 1.1vh;
}

div.recent-post article.recent-content a p {
  font-weight: lighter;
}

article.recent-content h2 {
  font-size: max(1.2vw, 15px);
  font-weight: bolder;
}

article.recent-content p.recent-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

article.recent-content p.recent-info a {
  font-size: max(1vw, 13px);
  font-weight: bolder;
}

article.recent-content p.recent-info time {
  font-size: max(0.7vw, 8px);
  font-weight: lighter;
  color: rgb(92, 91, 91);
}

section#recent-posts div.btn-container {
  display: flex;
  justify-content: center;
  padding: 3% 0;
}

section#recent-posts div button {
  padding: 8px;
  width: 6rem;
  border-radius: 20px;
  font-weight: bolder;

  background-color: black;
  cursor: pointer;
}

section#recent-posts div button a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}

section#recent-posts div button:hover {
  transform: translateY(-3px);
}
