@import "utilities/variables";

section#single-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 11%;
  z-index: -1;
  gap: max(5vw, 35px);
  width: 100vw;
  padding: 4vw 3vw;
}

.menu {
  position: absolute;
  top: 23%;
  right: 9%;
  display: inline-block;
  z-index: 2;
  text-align: left;
  padding: 0;
  margin: 0;
}

/* style for the button */
.menu:before {
  content: "\2630";
  color: white;
  padding: 3px 6px;
  border: 1px solid #555;
  border-radius: 3px;
  background: #000000;
  cursor: pointer;
  // background: -moz-linear-gradient(
  //   top,
  //   #96305e 0%,
  //   #822956 10%,
  //   #822956 90%,
  //   #751749 100%
  // );
  // background: -webkit-linear-gradient(
  //   top,
  //   #96305e 0%,
  //   #822956 10%,
  //   #822956 90%,
  //   #751749 100%
  // );
  // background: linear-gradient(
  //   to bottom,
  //   #96305e 0%,
  //   #822956 10%,
  //   #822956 90%,
  //   #751749 100%
  // );
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96305e', endColorstr='#751749',GradientType=0 );
}

.menu:focus {
  pointer-events: c;
}

.menu:focus .menu-dropdown {
  opacity: 1;
  visibility: visible;
}

.menu-dropdown {
  background-color: #364656;

  width: 90px;
  margin: 3px 0 0 0;
  padding: 5px;
  border-radius: 3px;
  border: 1px black solid;
  border-radius: 3px;
  pointer-events: auto;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s;
  background: #1f8bd3;
  background: -moz-linear-gradient(
    top,
    #1f8bd3 0%,
    #1b7aba 10%,
    #1b7aba 90%,
    #1b61b7 100%
  );
  background: -webkit-linear-gradient(
    top,
    #1f8bd3 0%,
    #1b7aba 10%,
    #1b7aba 90%,
    #1b61b7 100%
  );
  background: linear-gradient(
    to bottom,
    #1f8bd3 0%,
    #1b7aba 10%,
    #1b7aba 90%,
    #1b61b7 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f8bd3', endColorstr='#1b61b7',GradientType=0 );
}

.menu-dropdown a {
  background: transparent;
  border: none;
  outline: 0;
  display: block;
  color: white;
  font-size: small;
  text-decoration: none;
  width: 120px;
  padding: 5px;
}

section#single-post .post-container {
  width: 50vw;
}

section#single-post h1 {
  font-size: max(3vw, 30px);
  font-weight: bolder;
  padding-bottom: max(1vw, 10px);
}

section#single-post h3 {
  font-size: max(1.3vw, 15px);
  font-family: $source-serif-pro;
  font-weight: lighter;
  padding-bottom: max(1vw, 10px);
}

section#single-post time {
  font-size: max(0.9vw, 10px);
  font-weight: lighter;
  color: rgb(92, 91, 91);
}

section#single-post img {
  padding-bottom: max(2.5vw, 15px);
  padding-top: max(1vw, 10px);
  max-width: 100%;
  border-radius: 5px;
}

section#single-post p {
  line-height: 1.6;
  font-family: $source-serif-pro;
  font-size: larger;
}

@media (max-width: 450px) {
  section#single-post .post-container {
    width: auto;
  }
}
